.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1{
    text-align: center;
    font-size: 5em;
    font-family: serif;
    color: black;
    text-align: center;
    animation: effect 2s linear infinite;
    font-size: 35px;
}



.box {
    margin: auto;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: rgb(84, 109, 248);
    height: 250px;
    width: 250px;
    box-shadow: 10px 10px 10px  black;
    border-radius: 10px;
    font-weight: bold;
}

input{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    margin-top: 0px;
}


