<header>
  <img class="header-img" src="../assets/pngwing.com (1).png" alt="logo">
  <h1>The Engineer Bro's Delight .</h1>
</header>

<div id="foods-row1">
  <app-foods [img]="img1" title="Chicken chilly ₹125"></app-foods>
  <app-foods [img]="img2" title="Chicken 65 ₹130"></app-foods>
  <app-foods [img]="img3" title="Mutton Curry Homestyle ₹250"></app-foods>
  <app-foods [img]="img4" title="Mutton Biriyani ₹230"></app-foods>
  <app-foods [img]="img5" title="Chicken Afgani ₹190"></app-foods>

</div>

<div id="foods-row2">
    <app-foods [img]="img6" title="Chicken Lolipop ₹164"></app-foods>
    <app-foods [img]="img7" title="Paneer chilly ₹140"></app-foods>
    <app-foods [img]="img8" title="Tandoori Chicken ₹180" ></app-foods>
    <app-foods [img]="img9" title="Butter Chicken ₹135"></app-foods>
    <app-foods [img]="img10" title="Biriyani ₹140"></app-foods>
</div>

<div id="foods-row2">
  <app-foods [img]="img11" title="Chicken Patiala ₹200"></app-foods>
  <app-foods [img]="img12" title="Chicken Lababdar ₹175"></app-foods>
  <app-foods [img]="img13" title="Chicken Kolhapuri ₹180" ></app-foods>
  <app-foods [img]="img14" title="Veg Kasturi ₹129"></app-foods>
  <app-foods [img]="img15" title="kadhai Mushroom ₹144"></app-foods>
</div>

<div id="foods-row2">
  <app-foods [img]="img16" title="KhanDeshi Chicken ₹159"></app-foods>
  <app-foods [img]="img17" title="Chicken Changezi ₹160"></app-foods>
  <app-foods [img]="img18" title="Chicken Bhuna Masala ₹150" ></app-foods>
  <app-foods [img]="img19" title="Chicken Irani ₹135"></app-foods>
  <app-foods [img]="img20" title="Amritsari Murg Chicken ₹180"></app-foods>
</div>

<footer>
  <h2>Thank you Visit again 🍜</h2>
    <h3><a class="links" href="https://www.theengineerbrosdelight.com" target="_blank"> Palce Your Online Order Here 🚚</a></h3>
    <h3><a class="links" href="https://www.instagram.com/the_engineer_bros_delight?igsh=MWpxdjFkemY3ZWNwdQ==" target="_blank">Instagram </a></h3>
</footer>