

.main-btn {
    --color: rgb(0, 0, 0);
    --color2: white;
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .main-btn::after, .main-btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .main-btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .main-btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .main-btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .main-btn:hover {
    color: var(--color2);
   }
   
   .main-btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }



   
/* counter app code starts here */
.Primary-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.passenger-txt{
    text-align: center;
    font-size: 5em;
    font-family: serif;
    color: transparent;
    text-align: center;
    animation: effect 2s linear infinite;
    font-size: 50px;
}
@keyframes effect {
    0% {
        background: linear-gradient(#000000, #d87a7a);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(#2600ff, #a59d9d);
        -webkit-background-clip: text;
    }
}
h2{
    font-weight: bold;
}
.counter{
    background-image: url('https://media.istockphoto.com/id/501030089/photo/swiss-railway.jpg?s=612x612&w=0&k=20&c=-hIDbgyAkPa3At6wQh9Bc4YKyf_BE9HoSRZXoiyg6oc=');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow:  7px 7px 7px 7px #2c2c2c,
             -7px -7px 7px -7px #4a4a4a;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: -50%;
    margin: auto;
}

.count{
    font-size: 25px;
    color: #ff0000;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    width: 200px;
    height: 40px;
    padding: 1.3em 1.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #77d5f1;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.btn-wrapper:hover {
    background-color: black;
    box-shadow: 0px 15px 20px black;
    color: #fff;
    transform: translateY(-7px);
}
  
  .btn-wrapper:active {
    transform: translateY(-1px);
}

/* counter app code ends here */



/* form app code starts here */
.sign-btn {
    background-color: #000000; /* Green */
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    margin-top: 15px;
}

.sign-btn:hover {
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 15px 20px rgb(0, 0, 0);

}
/* form app code ends here */



/* switch app code starts here */
.switch-txt{
    font-weight: bold;
    font-size: large;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: black;
    margin-top: 50px;
  }
  
  .container .label {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .input {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: rgb(0, 153, 255);
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .container .input:valid ~ .label,
  .container .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
  }
  
  .container .input:valid,
  .container .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  /* switch app code ends here */